[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-admin = "2.0.1"
django = "3.2.9"
djangorestframework = "3.12.4"
django-cors-headers = "3.10.0"
djangorestframework-simplejwt = "5.0.0"
pillow = "*"
keras = "*"
tensorflow = "*"
numpy = "*"
opencv-python = "*"

[dev-packages]
pytest-html = "3.1.1"

[requires]
python_version = "3.7"
